<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Скачайте приложение ECG Mob</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container" style="margin-top: 50px;">
    <h3>Установка приложения Medsenger Gemocard</h3>

    <p>Чтобы измерить давление или сделать ЭКГ и отправить результат врачу, Вам понадобится мобильное приложение Medsenger Gemocard. Скачайте его из магазина по ссылке ниже, а затем снова нажмите на кнопку "Привязать тонометр" в Medsenger.</p>

    <p><a href="https://apps.apple.com/ru/app/medsenger-gemocard/id6443817887" class="btn btn-lg btn-success">iOS</a></p>
    <p><a href="" class="btn btn-lg btn-success">Android</a></p>
</div>
</body>
</html>